.tvs{
    background-color:darkblue;
    height:196px;
    width: 100%;
    padding: 0.5cm;
}
#op{
    float: left;
    height: 200px;
    width: 200px;
}
#mn{
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: fantasy;
}
#mno{
    text-align: center;
    color: white;
}
#jk{
    text-align: justify;
    color: white;
}
#klm{
    text-align: center;
    color: white;
}
#ijk{
    color: white;
}
#ghi{
    color: white;
}
.vbv{
    float: left;
    text-decoration-color: white;
}
.xcx{
    float: right;
    text-decoration-color: white;
}
.xy{
    float: left;
    text-decoration-color: white;
}
.zx{
    float: right;
    text-decoration-color: white;
}
#xyz{
    text-align: center;
    color: white;
}
#stv{
    color: white;
}
#pqr{
    color: white;
}
#a{
    color: white;
}
#b{
    color: white;
    align-items: baseline;
}
#c{
    color: white;
}
#d{
    color: white;
}
#efg{
    text-align: center;
    color: white;
}
#cd{
    text-align: justify;
    color: white;
}
.kl{
    color: white;
}
.gh{
    color: white;
}
.opq{
    background-color: gainsboro;
    height: 196px;
    width: 100%;
    padding: 0.5cm;
}
#lk{
    text-align: left;
}
#xc{
    color: white;
    text-align: left;
}
#rf{
    float: left;
}
#ol{
    float: right;
}
.hh{
    color: white;
    font-size: 20px;
}
td,th{
    border:1px soild black;
    padding: 10px 32px;
    color: white;
}
th{
    background-color: rgba(0,0,0,0.2);
    color: white;
}
td{
    background-color: darkblue;
}
#vb{
    padding: 1cm;
    background-image: url('../Photoes/27831218023_e108f4244b_o.jpg');
}
.jj{
    background-color: darkblue;
    color: white;
    border-color: white;
    border-width: 2px;
}
.sy{
    position: relative;
    display: inline-block;
}
.nm{
    display: none;
    position: absolute;
    background-color: transparent;
    color: white;
}
.nm a{
    color: white;
    text-decoration: none;
}
.sy:hover .nm{
    display: block;
}
.ac{
    color: transparent;
}
.ou{
    width: 100%;
    display: inline-flex;
}
.uo{
    width: 20%;
    display: inline-flex;
}
.fb{
    width: 80%;
    display: inline-flex;
}
@media only screen and (max-width:810px){
    #op{
       height: 100px; 
       width: 100px;
    }
    #mn{
        font-size: 15px;
    }
    .gb{
        height: 200px;
        width: 300px;
    }
}