.tvs{
    background-color:darkblue;
    height:196px;
    width: 100%;
    padding: 0.5cm;
}
#op{
    float: left;
    height: 200px;
    width: 200px;
}
#mn{
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: fantasy;
}
.rf{
    text-align: left;
    color: white;
}
.ty{
    text-align: justify;
    color: white;
}
#po{
    text-align: left;
    color: white;
}
.opq{
    background-color: gainsboro;
    height: 196px;
    width: 100%;
    padding: 0.5cm;
}
#lk{
    text-align: left;
}
.ew{
    display: block;
    height: 400px;
    width: 800px;
}
#vb{
    padding: 1cm;
    background-image: url('../Photoes/27831218023_e108f4244b_o.jpg');
}
.jj{
    background-color: darkblue;
    color: white;
    border-color: white;
    border-width: 2px;
}
.sy{
    position: relative;
    display: inline-block;
}
.nm{
    display: none;
    position: absolute;
    background-color: transparent;
    color: white;
}
.nm a{
    color: white;
    text-decoration: none;
}
.sy:hover .nm{
    display: block;
}
@media only screen and (max-width:810px){
    #op{
       height: 100px; 
       width: 100px;
    }
    #mn{
        font-size: 15px;
    }
    .ew{
        height: 200px;
        width: 300px;
    }
}
